header {
  background-color: #ffffff;
  width: auto;
  height: auto;
}

body {
  background-color: #c4c4c4;
}

footer {
  background-color: #ffffff;
  width: auto;
  height: auto;
}
 
/* flexboxを使って横に要素を並べることができる */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  padding: 10px;
  margin: 20px;
}

.card__title {
  color: #282828;
  font-size: 14px;
}

.card__description {
  color: #282828;
  font-size: 12px;
}

.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 10px;
}
